.Header
{
	background-color:#7A0001;
	
	color:#EAEAEA;
	font-style:italic;
	height:110px;
}

.Header p
{
	margin:0px;
}

.NavBar
{
	background-color:#FFCC77;
	width:220px;
	vertical-align:top;

	color:#9B0801;
	font-size:17px;
} 

.NavBar a
{
	color:#9B0801;
}

.NavBar img
{
	width:150px;
}

.main
{
	vertical-align:top;
	width:100%;
	height:100%;
}

.Footer
{
	background-color:#dddddd;
	text-align:center;
}

.topright
{
	text-align:right;
	margin:0px;
}

.errorbar
{
	background-color:#ffcccc;
	padding-left:20px;
	padding-right:20px;
}

.confirmbar
{
	background-color:#ccffcc;
	padding-left:20px;
	padding-right:20px;
}

.errordesc
{
	color:#ff0000;
}

.frame
{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	height:100%;
	width:100%;
	margin:0px;
	border-width:0px;
	border-spacing:0px;
}

.frame tbody
{
	vertical-align:top;
}

.frame td
{
	padding-left:20px;
	padding-right:10px;
}

.guts_h1
{
	margin-top:10px;
	margin-bottom:10px;
	font-size:40px;
}

.guts_header
{
	background-color:#7A0001;
	
	color:#EAEAEA;
	font-style:italic;
	height:64px;
}

.guts_header p
{
	margin:0px;
}

.guts_scorebar
{
	max-height:5px;
}

.guts_teamtable
{
	display:inline-table;
	text-align:left;
	font-size:20px;
	margin:5px;
}

.guts_submittedset
{
	background-color:#880000;
	height:3px;
	width:2px;
}

.guts_runningset
{
	background-color:#ddddbb;
	height:3px;
	width:2px;
}

.img_thumbnail
{
	text-align:center;
	vertical-align:middle;
	
	width:150px;
	height:150px;
	
	padding:5px 5px 5px 5px !important;

}

.img_800x800
{
	text-align:center;
	vertical-align:middle;
	
	width:800px;
	height:800px;

	padding:5px 5px 5px 5px !important;
	border:0px;

}

h1
{
	color:#BB1100;
	font-size:45px;

	border-bottom-style:double;
}

h2
{
	color:#BB1100;
	font-size:30px;

	border-bottom-style:solid;
	border-width:1px;
}

h3
{
	color:#BB1100;
	font-size:20px;
}

hr
{
	background-color:#BB1100;
	color:#BB1100;
	height:0px;
	border:1px solid ;
}


body
{
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
}
