.field_wrapper {
    padding: 5px;
}

.field_label {
    display: inline-block;
    width: 150px;
}

input.field {
    height: 25px;
    width: 200px;
    border: 1px solid black;
}

a.field {
    color: blue;
}

.team {
    display: inline;
    cursor: pointer;
    color: #00B;
    font-size: 20px;
    margin-right: 5%;
}

.team:hover {
    text-decoration: underline;
}

.team_name {
    font-size: 20px;
}

#delete {
    color: #FFFFFF;
    background-color: #dd1439;
    background-image: -webkit-linear-gradient(#d20039, #dd1439);
    background-image: linear-gradient(to top, #dd1439, #d20039);
    border-radius: 2px;
    border: 1px solid #888;
}

#delete:hover {
    background:#F00;
}

#team_edit_pane {
    display: none;
}

#feng {
    padding-left: 20px;
}

button.field {
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-top: 4px;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(#eee, #ccc);
    background-image: linear-gradient(to top, #ccc, #eee);
    border-radius: 2px;
    border: 1px solid #888;
}

button.field:hover {
    background: #eee;
}

button {
    font-family: "Times", serif;
}
.dialog {
    z-index: 5;
    height: 100px;
    width: 200px;
    padding: 30px;
    background-color: #FFF;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 50%;
    margin-left: -130px;
    display: none;
}
.cover {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #888;
    display: none;
}
