.field_wrapper {
    padding: 5px;
}

.field_label {
    display: inline-block;
    width: 150px;
}

input.field {
    font-family: georgia, times, serif;
    width: 200px;
    height: 25px;
    border: 1px solid black;
    padding: 0px 2px 0px 2px;
}

a.field {
    color: blue;
}

.team {
    cursor: pointer;
    color: #00B;
    font-size: 20px;
}

.team:hover {
    text-decoration: underline;
}

.team_name {
    font-size: 20px;
}

#delete {
    color: #900;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #888;
}

#delete:hover {
    background:#F00;
    color: #FFFFFF;
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -webkit-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

#team_edit_pane {
    display: none;
}

#feng {
    padding-left: 20px;
}

button.field {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(#eee, #ccc);
    background-image: linear-gradient(to top, #ccc, #eee);
    border-radius: 2px;
    border: 1px solid #888;
}

button.field:hover {
    background: #eee;
}

button {
    font-family: georgia, times, serif;
}

.dialog {
    z-index: 5;
    width: 200px;
    padding: 30px;
    background-color: #FFF;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 50%;
    margin-left: -130px;
    display: none;
}
.cover {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #888;
    display: none;
}

#new {
    margin-top: 5px;
}

.show_when_indiv {
    display: none;
}
