.field_wrapper {
    padding: 5px;
}

.field_label {
    display: inline-block;
    width: 100px;
}

input.field {
    font-family: georgia, times, serif;
    width: 200px;
    padding: 2px 2px 2px 2px;
    border: 1px solid black;
}

button.field {
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ccc;
    background-image: -webkit-linear-gradient(#eee, #ccc);
    background-image: linear-gradient(to top, #ccc, #eee);
    border-radius: 2px;
    border: 1px solid #888;
}

button {
    font-family: georgia, times, serif;
}

#dialog {
    display: none;
    text-align: center;
    z-index: 5;
    width: 300px;
    padding: 30px;
    background-color: #FFF;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -180px;
}

#cover {
    display: none;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background-color: #888;
}

#forgot {
    color: blue;
    cursor: pointer;
    margin-left: 10px;
}

#forgot:hover {
    text-decoration: underline;
}

.loading, .loading * {
    cursor: progress !important;
}

#login_tip {
    margin-left: 10px;
    color: #F00;
}
